body {
    background-color: lightblue;
}
section.header {
    background-color: lightgray;
    background-image: url("background.jpeg");
    color: black;
    border-radius: 30px;
    padding-bottom: 1px;
}
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 55px;
    color: blue;
    text-align: center;
    padding: 25px;
}
a.headerlink {
    text-decoration: none;
}
h2 {
    font-size: 45px;
    color: darkblue;
    font-family: 'Arial', sans-serif;
    text-align: left;
}
section.problem {
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}
footer {
    font-size: 14px;
    color: black;
    margin-top: 20px;
    background-color: lightblue;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    border-top: 2px solid black;
    text-align: center;
}