h1 {
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    color: blue;
    background-color: lightgray;
    text-align: center;
    padding: 25px;
    background-image: url('background.jpeg')
}
h2 {
    font-size: 40px;
    color: darkblue;
    font-family: 'Arial', sans-serif;
    text-align: left;
}